<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
    <appSettings>
      <add key="DataBase" value="SQLServer"/>
    </appSettings>
    <connectionStrings>
      <add name ="SQLServer" providerName="System.Data.SqlClient" connectionString="Server=(local)\SQLEXPRESS;Database=db_ehealth;User Id=ehealth;Password=19861014" />
    </connectionStrings>
</configuration>
